{% extends 'base.html.twig' %}

{% block title %} Part List {% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ path('homepage') }}">Accueil</a>
        </li>
        <li class="breadcrumb-item active">Parts</li>
    </ol>
{% endblock %}

{% block body %}
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-table"></i> Parts</div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Serial Number</th>
                        <th>Name</th>
                        <th>Weight</th>
                        <th>Image</th>
                        <th>Quantity In Stock</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Serial Number</th>
                        <th>Name</th>
                        <th>Weight</th>
                        <th>Image</th>
                        <th>Quantity In Stock</th>
                        <th>Action</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    {% for part in parts %}
                        <tr>
                            <td>{{ part.serialNumber }}</td>
                            <td>{{ part.name }}</td>
                            <td>{{ part.weight }}</td>
                            <td><img src="{{ asset('images/parts/'~ part.picture ) }}" height="90" alt=""/></td>
                            <td>{{ part.quantityInStock }}</td>
                            <td><a class="btn btn-primary" href="{{ path('new_order', { 'partId': part.id } ) }}">Create Order</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
    </div>

    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>
{% endblock %}